/*Unversal Rules*/

body {
    background-color: #000;
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }

/*Header and Nav*/

  header{
    background-color: white;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 .32rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

header .desktop {
    display: flex;
    align-items: center;
}
header .logo {
    flex-grow:1;
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: .5rem;
}

header li {
    display: inline;
    padding-right: 1rem;
}

header li:last-child {
    padding-left: 0;
}

header li,
header a {
    text-decoration: none;
    color: #000;
}

/*Banner*/

.banner {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    z-index: -1;
  }
  
  .banner__title {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
  }
  
  .banner__stroked-title {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
  }
  
  .banner__image {
    border-radius: 20px;
    position: fixed;
    width: 100%;
  }

/*Text Content*/

  .content {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: #eaeaea;
    font-size: 40px;
    padding: 120px 80px;
    height: 100%;
    box-shadow: 0 0 .32rem rgba(0, 0, 0, 0.5);
  }
  
h2 {
    font-size: 3rem;
    padding-bottom: 1.25rem;
}

.text-container {
    margin:2rem;
    padding-left:2rem;
    padding-bottom: 1rem;
}

.text, 
    a {
    padding-left:1.25rem;
}

/*Education History*/
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding: 0 0.75rem 0 1rem;
}

.main-content h2 {
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 2rem;
}

.content-img-box img {
  max-width: 40%;
  padding-right: 2rem;
  padding-left: 2rem;
}

.text-content, p {
  font-size:1.35rem;
  padding-left:1.25rem;
  text-align: justify;
}

.text-content h4 {
  text-decoration: underline;
}

/* Footer */

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20%;
    
}

.social li {
    display: inline-block;
    padding: 0 20px;
    align-items: flex-end;
    
}