@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Manrope&family=Merriweather:ital@0;1&family=Work+Sans:wght@400;500;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
}

li, a, h2, p {
    font-family: manrope, sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

figcaption {
    text-align: center;
}

/*header and nav bar*/

header{
    padding: 1rem 1.5rem;
    box-shadow: 0 0 .32rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

header .desktop {
    display: flex;
    align-items: center;
}
header .logo {
    flex-grow:1;
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: .5rem;
}

header li {
    display: inline;
    padding-right: 1rem;
}

header li:last-child {
    padding-left: 0;
}
 
/*Banner*/

.container {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    
}

.image img {
    border-radius: 10%;
    box-shadow: 0 0 .32rem rgba(0,0,0,0.5);
}

h2 {
    font-size: 5rem;
    padding-bottom: 2.25rem;
}

.text-container {
    margin:2rem;
    padding-left:2rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 .32rem rgba(0, 0, 0, 0.5);
}

.text, 
    a {
    padding-left:1.25rem;
}

/*Acting History*/

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.cards img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 25vw;
  }

  .cards figcaption {
    text-align: center;
  }

  #acting-history h2 {
    text-align: center;
  }

  /*Footer*/ 

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20%;  
}

.social li {
    display: inline-block;
    padding: 0 20px;
    align-items: flex-end;
}